.list{
    /*
    background: rgba(47, 123, 128, 0.25);
    width: 30%;
    text-align: center;
    display:inline-block;
    vertical-align:top;
    */

}

#gridView{
    /*

    text-align: center;
    vertical-align:top;
    */
}

@media (max-width: 800px)  {
    /*
    .list{
        width: 48%;
    }*/
}

body {
    background-color: rgba(0, 40, 230, 0.14) !important;
    background: -moz-linear-gradient(266deg, rgba(10,214,255,0.15) 0%, rgba(123,167,199,1) 100%); /* ff3.6+ */
    background: -webkit-gradient(linear, left top, left bottom, color-stop(0%, rgba(10,214,255,0.15)), color-stop(100%, rgba(123,167,199,1))); /* safari4+,chrome */
    background: -webkit-linear-gradient(266deg, rgba(10,214,255,0.15) 0%, rgba(123,167,199,1) 100%); /* safari5.1+,chrome10+ */
    background: -o-linear-gradient(266deg, rgba(10,214,255,0.15) 0%, rgba(123,167,199,1) 100%); /* opera 11.10+ */
    background: -ms-linear-gradient(266deg, rgba(10,214,255,0.15) 0%, rgba(123,167,199,1) 100%); /* ie10+ */
    background: linear-gradient(184deg, rgba(10,214,255,0.15) 0%, rgba(123,167,199,1) 100%); /* w3c */
    filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#0AD6FF', endColorstr='#7BA7C7',GradientType=0 ); /* ie6-9 */
}

.container{
    min-height: 100vh;
}

header{
    text-align: center;
}

.delete{
    margin-right: 0;
}

.list{
    border-radius: 1%;
}

.delEntry{
    width: 10%;
    display: inline-block;
}



.todo-entry{
    height: 8vh;
    width: 100%;
    display: inline-block !important;
}

#checkbox-div{
    width: 6%;
    display: inline-block;
}

#content{
    display: inline-block;
    width: 70%;
}

.btn i.fa-check.box {
    opacity: 0;
}
.btn i.fa-check.box {
    opacity: 1;
}

.del.todo-list{
    float: right;
}

.titleList{
    line-height: 2;
}

#amountOfChecked{
    white-space:pre;
}

input[type=checkbox] {
    visibility: hidden;
}

#checkbox-div {
    background: rgba(50, 117, 221, 0);
    width: 30px;
    height: 30px;
    border-radius: 100%;
    box-shadow: 0px 0px 5px rgba(0,0,0,0.5);
    padding-top: 5%;
    top: 10px;
}

#checkbox-div label {
    width: 20px;
    height: 20px;
    border-radius: 80px;
    cursor: pointer;
    position: absolute;
    top: 5px;
    left: 5px;
}
/*Uncked*/
#checkbox-div input[type=checkbox] + label {
    background: #ca2d00;
}

/*Checked*/
#checkbox-div input[type=checkbox]:checked + label {
    background: #26ca28;
}

.input-field{
    background-color: inherit;
    border: none;
}

#background{
    width: 100vw;
    height: 100vh;
    position: absolute;
    z-index: -1;
}
.box{
    height: 3%;
    margin: auto;
    margin-top: 10%;
    z-index: -1;
    border-radius: 10px;
    animation-name: changewidth;
    animation-iteration-count: infinite;
    animation-direction: alternate;
    animation-duration: 5s;
    animation-timing-function: ease-in-out;
    filter: blur(30px);
}

@keyframes changewidth {
    from {
        width: 10%;
        margin-left: -10%;
        background: rgba(255, 0, 90, 0.3);
    }

    to {
        width: 30%;
        margin-left: 80%;
        background: rgba(255, 177, 0, 0.3);
    }
}

.info.welcome{
    visibility:hidden;
    opacity:0;
    transition:visibility 0.5s linear, opacity 0.5s linear, height 0.5s ease-out;
    -webkit-transition: visibility 0.5s linear, opacity 0.5s linear, height 0.5s ease-out;
}
